FORMAT: 1A
HOST: https://lab-registry.bnymellon.net

# Bundle CRUD API
Bundle API is a *bundle* that contains a number of features.

# Group Bundles
Bundles and related resources of the **Bundle CRUD API**

## Bundles [/secure/bundles]
### Create a Bundle [POST]
+ Request (application/json)

        { 
            "name": "Charles River"
        }

+ Response 201 (application/json)

        { 
            "guid": "b872d23c-23ef-4816-b631-cb5e05407e1d", 
            "name": "Charles River",
            "status": "inactive",
            "dateCreated": 1431588596095, 
            "lastUpdated": 1431588596095
        }

### List all Bundles [GET]
+ Response 200 (application/json)

        [
            {
                "guid": "b872d23c-23ef-4816-b631-cb5e05407e1d",
                "name": "Charles River",
                "status": "active",
                "dateCreated": 1431588596095, 
                "lastUpdated": 1431588596095,
                "repositoryData": {
                                    "logo": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoxM2UyMGMyMS05ZmM3LTZkNDUtOWQ1MS1mODQxNDM5YjM3YTIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTFBQzJFRThFQ0I4MTFFM0ExRThBQjQ2NzNDQUFDNTQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTFBQzJFRTdFQ0I4MTFFM0ExRThBQjQ2NzNDQUFDNTQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlhZjVmNWU4LWFiOTUtZGE0ZC04YjlhLWI5ZTE2ODg1NzVkNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxM2UyMGMyMS05ZmM3LTZkNDUtOWQ1MS1mODQxNDM5YjM3YTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7nImKUAAAOF0lEQVR42uxaaWxc13W+975tZt4snCGHGlJcxKEoUtRG2ZK1UKtlW0rs2K2bOi2sJC6cwG0WoGmBokkQdAPaFChatH/q+EfTpLWRoIVRm3Icu7bkWNbiaKEpUSTFfedwyNmXt7/bc9+MNoeRHRWZwAAHg8f33ry7nHu+853v3EfMffUE+iR/eAvhT7QBBH3CP6sGrBqwasCqAasGrBqwasBvVAvd7UeMEcFlrWRT9mUmO3dshCj91YYq9UZt1rYSBnAYmRQVdaTbiCPIzSORQ5aNNBNRjARSdt7HtAJshraqzbqF3vCvG0I8RoaNsiqnmgGKRJh0VkOaxX5STZR3zvGvuPy6gXIaa/5rhxA42rRR0WgNyw91htvrfLGM+tbVeO90VvaLuzrDMk8uLRTmCjqz8/aloLf5BN+5/rrZEfFuq5GHkur1lKICGskNPwAUbzVx8FkC58fzLYceeHoFrySU9lr5W7/V8dxDrfs3hQ92hhtrPH0jCdG0v/XbHU91Nw3OZa8PLiGeMFzBmAAPQBocaSlIHAeaziUcTQvW/tkHo3/26AYb46vTmTy4FGzQrfIzxAkPuGOYrB9mHmZgo/cAIbihs+V/aFPt8X1NEG8vX5hfSKmP31f30Oawn0cNfqmz3hdwcUgzOBjeouxr2C6E3JiwOWkWzJ+zKW+DVZYIXUIsFfS1QXd0jbch6IbwQYoBPpEJhlasieX0o1m8Rb0chiN7ADon9wAh8CCMx3O1IRdP8HvXE//409Hj3U1fP9ICMyAYpwq6atobG/y/8/D6gmG/N5JUFHPz+uCBaFAAaE0kz4+ksGLu3Vi9xidmCsbaGm8ip/W8PZ7MaNB9TreKmul18bs3VD8QDSq6fWo40T+TNg2zqVY+1F7dWusdW8yfGlyaSavMk+AH+x5YiGBFsx0cUsOmuIRMIBKKNZN6ePJMd9OzB1quTGfS8d4UQX/35Mb9rUEwbHA+908nrp86O/vc4ZZdzVWKbtX6pUTRGBhcsiHuGUYsxaCf29v4tSPRpqBbEsjJ64lvvtS3nNW/+uC6p/c0hjxCIm/8+MLsP78xNrOsIL9092ggK1MeLUcXDOD3iHCVUU1YbxY0BGywYxmNYNq11tcWlndFqz61KZzTzfPjqf0bqr+wp5G37Ijf1Rxy54qGYdptNZ6WsNeiLFqLiunxCMf3Nm5vDPT0xsYXC49vXbMjWr0tGjy+pxFW68V3Jwm1v3xo3X3NAUAyQ9c9Z2IYUXbxhm69din23deG374WB/oP+cR4Xv/e6amfXI0DooBZZbcAoHtrYPmHZ6egleQSiItbTCu6Sf/qf4beHFhiOId4cNxoWjQgEJHgkVjh+ZPjPb0LBdWS3bxPlgSBOze0/C89Iz8bWBY5zi+7nMRH787X/F0NQH6XYJvWmxfn3jyLIIVt2xx2uwXLpoRgcAUwoYlJ73yupz8G4In43dAqCxAB1xEC6y1CRDojUJbFqYNNbFi2ptsQYJEqd7VfgruqbkOcpPL6pubA3i21Ywml5/LCXFpBEs9s+P9oIWY/hJHk0KXACNKmlOewz825BEx4bHP4/GDiH3qGU0X98MYahhKb8Tp1kFjlk3wSX8pjt09Et2yvmz/QUbOxzueWOCCm8fncz8eSnY2BZ45Er8xl/+SHfRdHk8gn3MTzvWkhoDLG0z6/KyCLS0tFduUoIjgpfalurZHFZ/as+91d9W6RGLbt/F6eLSz2QloDPslrDhXc+BQNO+wTv7ivKaeYg7Fc0bJn5rPP/3S0I+Lb3VL1xd0NAyPJ2XgB1bjRRyV8/u76paCahOM+vWPtwY01r5ydnV/Mq6qJnanA0dRt8MixnXVfPtw0Gsu/N7z89L5m8E950SCbIfqDd6fOjaQGY9lP7ahjjmBCikED7Hzl/blT1xaLBr2WVXk3f+ZK/O9fHf7b39/86H11Csbf+M8PZuNFFPSwdbo3CAFicqrFC+Sx7ZE/OtB8bGM1Z1lFZsAtEzlHTcB8T48kXu2LYYIFDt/0uW3jM5cXvv/acDZZ5CRyUze4eC6tGq9cmDk3tFTUjaJiNLWEPnO4OVHQ/u30VFYzu6NV25uqkEFZOrt3FkIwHwhdM5HXAAJZxaRMwtzhU1DHlsVQ4/MKIZ+E6IcQi4nfhSIemDK9Q9rhdF53BVx/8YWu1/98/xNb1twfll98bud3Ht9weTB++uqi2yXwolDy2N1BRFacOGLahCGFWpSYNk+Z3zHG+JeaChmKGsZKw8EKWivUBYTDhmEVCjq41DBsxaYZ3TI1izOs0irYlH4cQcejD80Ks1wFvsuqBix5x1rfs4dadrcGYZVTOY0RKLphCy6fQXiCoOturY54JUasNrvJkXKcOAKTnZdcB0eYYUYxZZHf31bTHvHp4FvDBHmXA92xxntkZ0NTxJeHDKiYDHAEIYzvaoCm/4JCJSBSf3Jpbndb8Mkd9R2RJliHk9fiPZdmVcMiElY1Q1N1VTcVwyzoGjDJckGP+ATdlOJpJa9Dh3ZO0eAxQ9cQ1ZDBQTQooCtMiCi0uJT7j9NTbbXyHx9thdFeu7J4ZjAeT6snLtf84YMtf/poW0YzXjg1cWEkzlaIOcS8K9Mc++4K7ANGq3ok6NrXUd9eH5xN5d7pn5may7l94oYGv8gRyDI+twDK8vpcVtGsnW21Pknon0/U+l1Fzbg+k4/Wy+CQgcVCIm+y3mxU4+WbZTKTKcaTUNYY61tCezc3ZIrG+YG5xcU8uMYflne2hltCvrF45tJEIgvlGySfj8IRRoe/ufJ9Bg6bNy0QxgASE4iPZwHDAUKgPHbKFzhYBAQH5kwIEngaY0oYfKHetDGx2B0bUAXyOF88fHDrro61HomXRC6TV19+5+pw77gou5949P5NrXUnfz565oMx4AMemtjY5LgbOZjeiNVyJf6heUIM/FIiAsFgCMDlZTop/bXIrYLLLuVbqGcgnWD79q5sQA0m5XHhmCk8vHXd5z99fyTk5TkONOljh7Z95RsvTMWSn9236bNHungbX+ody1m27vY4BU1pqowIWSRYFps8yBJyg/sY/AmUEBxqOfARtSzGd4QRvi054jtR94tQvKltM8qhfZ3H9nSc65/+8ckrtUHv1nW1Y9NLZ4fmcjYdW86+0zc+PLZAl1IsbckSJCC0mGJlp8ijRA4lsghCK5tD4Bm3gOIZlMxDn6io8RXbwAFa5DgyOr300huXNzbVdjSFvX7Z5hgEi4qSyRW6d7Q9sW/T8OziS//b29m17vHuzot9kyfeu7a/u+Nrv3fQzZNX3732769fFGzr+OcPt9UHr0zEd7Q3VM6AMp45gBotCSpV00WCDm5pPtbdOT+bAkc/9XBX39DM2XMjR7ZEv/TEXjWvprLKt//gkf3bo+mssilaD+r4Byfef2R3xyM71icLWsjrqujOHKAspxjJbMF2QIyhxtGtkM/TvKZK4kg6W8QUh6t84aC/LuSHcC9qentLePeW5p/1Tfxrz/s1Ac/+rvWyJILcgkD6r7f73u+fJhVcfaqb1pZ1ka88ubeloebC8MKZvkko2DieEI4YurGUzGTyikeWIg2hqpCcz6vxRJ7neEkSRmeWz/VP5RUNqhFI4VAVFTTjrd7Rodl4RSFUUPUDXeu6tzUXdPM733vj/IURwibEOXkdL2eK6UKxcU2wpbE6VCVncsWlRNbrcTQgMKtlw1NMd9ESL1ALlemqYvjBUCjOxrNXxxZM3Ty6b2N7tBZmZBkWBLdASCarLCbzkiS21tcE/fJSTl2CJGkaMN2jD2z4yy8dDVd5/T4PJBswA25C/NSHAxU0gCKPSzhzZfJvvv/28HT86P3rd9/XwmoG06CYGaAqWiyVB4S0N4eDAfd8IrecUzBh5UU46NUU7UevX/zvU32YA53KOxsu5PzADF9JBgIn5FSlfzy2nC5CXS9D2Q406pTLPM9pmrm4lIUVjdaHIMZjiUymqHldErS9NDT718+/nkpmFaaTiSgJEDgQxy++fLaiLMSKfZH3yxIMzy4x2xoopVxmgGrEEpDWULhKhhWOJ3J5RZWcknoilllWjM8c3npoe9S2bNO0MEQ+JnOjsQqyUPl9AhaABTlc2qGgLCWwDyGEGuZiKq/oJjOPggeylm663SLbz1O0SKTq68cPPXWkC1NbVXQnM4LaE0jFpi+ACsCI5wiQaUmSuTiOYZmCqCHgGagk0ql8UWE7kKZtZ9IFpBgeD9s+DXqlxrA/HPCGAi5qW+AuYC7wASCQrwT22Zd63KKz0eKGWkW3WJFWE/TKHgloHuIB6B8YKZfK604JDz8DgJCij80mMkX1sb0dW9bXQz11vn9KU/SakOwSeVkUmQKukAdkcXB2+cLA7LXJeKqgvts/2VxfzTblJPHazPKpK5OjIN3c4mK2eKp3Aki2byw2my4il/jmuaGWSOBzD28Hy3/01gcv9FzMW/SDyZhh2gvJDJTaGD347UoEr2VFQr7mgDeRVybT+bDPHa0JzKcLM6l8XcBd43UtZIrAoUCmAJVIwA3lzHSqAFkA6UbYK3V1NPACPzS+OLGQ4qs80bDPR7iJZC5ZUCtigFMLo4ICwYgEAQU8CIAO5wAbnwfyM7v0SMjvYa9CMgB9nanogAychXQTAZYKzla7wLO2koCWc8gw2LlHqpQBt79KKm3Z3jSMOu8/sXMOT5Tff+KySCiVGYZTFvOcU53ScnOnCKmgFiq9rSiZUSqSKC1vPpfeJpWnhe+4LB1FVvLder70FsvR5JWtB2x6h0PQii9q6QqvZOw7a3t6q/nqvxqsGrBqwKoBqwasGrBqwG/y838CDAAhaTFrgN7Y/AAAAABJRU5ErkJggg=="],
                                    "overview": ["<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>"]
                },
                "features": [
                                { 
                                    "guid": "fb053600-55c4-44f5-a8b3-5bba49cd744e", 
                                    "status": "active",
                                    "type": "email",
                                    "dateCreated": 1431588596095, 
                                    "lastUpdated": 1431588596095,
                                    "sendTo": "Bob@Imposter.co.uk"
                                },
                                { 
                                    "guid": "558f7e5d-4c1b-4eb7-8166-f134f9ae07ac", 
                                    "status": "active",
                                    "type": "view",
                                    "dateCreated": 1431588596095, 
                                    "lastUpdated": 1431588596095,
                                    "uri": "http://charles-river.co.uk"
                                }
                ]
            },
            {
                "guid": "14e5f7d0-d3c2-49f1-a074-d51777345e72",
                "name": "Some Other Bundle",
                "status": "inactive",
                "dateCreated": 1431588596095, 
                "lastUpdated": 1431588596095,
                "repositoryData": {
                                    "logo": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoxM2UyMGMyMS05ZmM3LTZkNDUtOWQ1MS1mODQxNDM5YjM3YTIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTFBQzJFRThFQ0I4MTFFM0ExRThBQjQ2NzNDQUFDNTQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTFBQzJFRTdFQ0I4MTFFM0ExRThBQjQ2NzNDQUFDNTQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlhZjVmNWU4LWFiOTUtZGE0ZC04YjlhLWI5ZTE2ODg1NzVkNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxM2UyMGMyMS05ZmM3LTZkNDUtOWQ1MS1mODQxNDM5YjM3YTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7nImKUAAAOF0lEQVR42uxaaWxc13W+975tZt4snCGHGlJcxKEoUtRG2ZK1UKtlW0rs2K2bOi2sJC6cwG0WoGmBokkQdAPaFChatH/q+EfTpLWRoIVRm3Icu7bkWNbiaKEpUSTFfedwyNmXt7/bc9+MNoeRHRWZwAAHg8f33ry7nHu+853v3EfMffUE+iR/eAvhT7QBBH3CP6sGrBqwasCqAasGrBqwasBvVAvd7UeMEcFlrWRT9mUmO3dshCj91YYq9UZt1rYSBnAYmRQVdaTbiCPIzSORQ5aNNBNRjARSdt7HtAJshraqzbqF3vCvG0I8RoaNsiqnmgGKRJh0VkOaxX5STZR3zvGvuPy6gXIaa/5rhxA42rRR0WgNyw91htvrfLGM+tbVeO90VvaLuzrDMk8uLRTmCjqz8/aloLf5BN+5/rrZEfFuq5GHkur1lKICGskNPwAUbzVx8FkC58fzLYceeHoFrySU9lr5W7/V8dxDrfs3hQ92hhtrPH0jCdG0v/XbHU91Nw3OZa8PLiGeMFzBmAAPQBocaSlIHAeaziUcTQvW/tkHo3/26AYb46vTmTy4FGzQrfIzxAkPuGOYrB9mHmZgo/cAIbihs+V/aFPt8X1NEG8vX5hfSKmP31f30Oawn0cNfqmz3hdwcUgzOBjeouxr2C6E3JiwOWkWzJ+zKW+DVZYIXUIsFfS1QXd0jbch6IbwQYoBPpEJhlasieX0o1m8Rb0chiN7ADon9wAh8CCMx3O1IRdP8HvXE//409Hj3U1fP9ICMyAYpwq6atobG/y/8/D6gmG/N5JUFHPz+uCBaFAAaE0kz4+ksGLu3Vi9xidmCsbaGm8ip/W8PZ7MaNB9TreKmul18bs3VD8QDSq6fWo40T+TNg2zqVY+1F7dWusdW8yfGlyaSavMk+AH+x5YiGBFsx0cUsOmuIRMIBKKNZN6ePJMd9OzB1quTGfS8d4UQX/35Mb9rUEwbHA+908nrp86O/vc4ZZdzVWKbtX6pUTRGBhcsiHuGUYsxaCf29v4tSPRpqBbEsjJ64lvvtS3nNW/+uC6p/c0hjxCIm/8+MLsP78xNrOsIL9092ggK1MeLUcXDOD3iHCVUU1YbxY0BGywYxmNYNq11tcWlndFqz61KZzTzfPjqf0bqr+wp5G37Ijf1Rxy54qGYdptNZ6WsNeiLFqLiunxCMf3Nm5vDPT0xsYXC49vXbMjWr0tGjy+pxFW68V3Jwm1v3xo3X3NAUAyQ9c9Z2IYUXbxhm69din23deG374WB/oP+cR4Xv/e6amfXI0DooBZZbcAoHtrYPmHZ6egleQSiItbTCu6Sf/qf4beHFhiOId4cNxoWjQgEJHgkVjh+ZPjPb0LBdWS3bxPlgSBOze0/C89Iz8bWBY5zi+7nMRH787X/F0NQH6XYJvWmxfn3jyLIIVt2xx2uwXLpoRgcAUwoYlJ73yupz8G4In43dAqCxAB1xEC6y1CRDojUJbFqYNNbFi2ptsQYJEqd7VfgruqbkOcpPL6pubA3i21Ywml5/LCXFpBEs9s+P9oIWY/hJHk0KXACNKmlOewz825BEx4bHP4/GDiH3qGU0X98MYahhKb8Tp1kFjlk3wSX8pjt09Et2yvmz/QUbOxzueWOCCm8fncz8eSnY2BZ45Er8xl/+SHfRdHk8gn3MTzvWkhoDLG0z6/KyCLS0tFduUoIjgpfalurZHFZ/as+91d9W6RGLbt/F6eLSz2QloDPslrDhXc+BQNO+wTv7ivKaeYg7Fc0bJn5rPP/3S0I+Lb3VL1xd0NAyPJ2XgB1bjRRyV8/u76paCahOM+vWPtwY01r5ydnV/Mq6qJnanA0dRt8MixnXVfPtw0Gsu/N7z89L5m8E950SCbIfqDd6fOjaQGY9lP7ahjjmBCikED7Hzl/blT1xaLBr2WVXk3f+ZK/O9fHf7b39/86H11Csbf+M8PZuNFFPSwdbo3CAFicqrFC+Sx7ZE/OtB8bGM1Z1lFZsAtEzlHTcB8T48kXu2LYYIFDt/0uW3jM5cXvv/acDZZ5CRyUze4eC6tGq9cmDk3tFTUjaJiNLWEPnO4OVHQ/u30VFYzu6NV25uqkEFZOrt3FkIwHwhdM5HXAAJZxaRMwtzhU1DHlsVQ4/MKIZ+E6IcQi4nfhSIemDK9Q9rhdF53BVx/8YWu1/98/xNb1twfll98bud3Ht9weTB++uqi2yXwolDy2N1BRFacOGLahCGFWpSYNk+Z3zHG+JeaChmKGsZKw8EKWivUBYTDhmEVCjq41DBsxaYZ3TI1izOs0irYlH4cQcejD80Ks1wFvsuqBix5x1rfs4dadrcGYZVTOY0RKLphCy6fQXiCoOturY54JUasNrvJkXKcOAKTnZdcB0eYYUYxZZHf31bTHvHp4FvDBHmXA92xxntkZ0NTxJeHDKiYDHAEIYzvaoCm/4JCJSBSf3Jpbndb8Mkd9R2RJliHk9fiPZdmVcMiElY1Q1N1VTcVwyzoGjDJckGP+ATdlOJpJa9Dh3ZO0eAxQ9cQ1ZDBQTQooCtMiCi0uJT7j9NTbbXyHx9thdFeu7J4ZjAeT6snLtf84YMtf/poW0YzXjg1cWEkzlaIOcS8K9Mc++4K7ANGq3ok6NrXUd9eH5xN5d7pn5may7l94oYGv8gRyDI+twDK8vpcVtGsnW21Pknon0/U+l1Fzbg+k4/Wy+CQgcVCIm+y3mxU4+WbZTKTKcaTUNYY61tCezc3ZIrG+YG5xcU8uMYflne2hltCvrF45tJEIgvlGySfj8IRRoe/ufJ9Bg6bNy0QxgASE4iPZwHDAUKgPHbKFzhYBAQH5kwIEngaY0oYfKHetDGx2B0bUAXyOF88fHDrro61HomXRC6TV19+5+pw77gou5949P5NrXUnfz565oMx4AMemtjY5LgbOZjeiNVyJf6heUIM/FIiAsFgCMDlZTop/bXIrYLLLuVbqGcgnWD79q5sQA0m5XHhmCk8vHXd5z99fyTk5TkONOljh7Z95RsvTMWSn9236bNHungbX+ody1m27vY4BU1pqowIWSRYFps8yBJyg/sY/AmUEBxqOfARtSzGd4QRvi054jtR94tQvKltM8qhfZ3H9nSc65/+8ckrtUHv1nW1Y9NLZ4fmcjYdW86+0zc+PLZAl1IsbckSJCC0mGJlp8ijRA4lsghCK5tD4Bm3gOIZlMxDn6io8RXbwAFa5DgyOr300huXNzbVdjSFvX7Z5hgEi4qSyRW6d7Q9sW/T8OziS//b29m17vHuzot9kyfeu7a/u+Nrv3fQzZNX3732769fFGzr+OcPt9UHr0zEd7Q3VM6AMp45gBotCSpV00WCDm5pPtbdOT+bAkc/9XBX39DM2XMjR7ZEv/TEXjWvprLKt//gkf3bo+mssilaD+r4Byfef2R3xyM71icLWsjrqujOHKAspxjJbMF2QIyhxtGtkM/TvKZK4kg6W8QUh6t84aC/LuSHcC9qentLePeW5p/1Tfxrz/s1Ac/+rvWyJILcgkD6r7f73u+fJhVcfaqb1pZ1ka88ubeloebC8MKZvkko2DieEI4YurGUzGTyikeWIg2hqpCcz6vxRJ7neEkSRmeWz/VP5RUNqhFI4VAVFTTjrd7Rodl4RSFUUPUDXeu6tzUXdPM733vj/IURwibEOXkdL2eK6UKxcU2wpbE6VCVncsWlRNbrcTQgMKtlw1NMd9ESL1ALlemqYvjBUCjOxrNXxxZM3Ty6b2N7tBZmZBkWBLdASCarLCbzkiS21tcE/fJSTl2CJGkaMN2jD2z4yy8dDVd5/T4PJBswA25C/NSHAxU0gCKPSzhzZfJvvv/28HT86P3rd9/XwmoG06CYGaAqWiyVB4S0N4eDAfd8IrecUzBh5UU46NUU7UevX/zvU32YA53KOxsu5PzADF9JBgIn5FSlfzy2nC5CXS9D2Q406pTLPM9pmrm4lIUVjdaHIMZjiUymqHldErS9NDT718+/nkpmFaaTiSgJEDgQxy++fLaiLMSKfZH3yxIMzy4x2xoopVxmgGrEEpDWULhKhhWOJ3J5RZWcknoilllWjM8c3npoe9S2bNO0MEQ+JnOjsQqyUPl9AhaABTlc2qGgLCWwDyGEGuZiKq/oJjOPggeylm663SLbz1O0SKTq68cPPXWkC1NbVXQnM4LaE0jFpi+ACsCI5wiQaUmSuTiOYZmCqCHgGagk0ql8UWE7kKZtZ9IFpBgeD9s+DXqlxrA/HPCGAi5qW+AuYC7wASCQrwT22Zd63KKz0eKGWkW3WJFWE/TKHgloHuIB6B8YKZfK604JDz8DgJCij80mMkX1sb0dW9bXQz11vn9KU/SakOwSeVkUmQKukAdkcXB2+cLA7LXJeKqgvts/2VxfzTblJPHazPKpK5OjIN3c4mK2eKp3Aki2byw2my4il/jmuaGWSOBzD28Hy3/01gcv9FzMW/SDyZhh2gvJDJTaGD347UoEr2VFQr7mgDeRVybT+bDPHa0JzKcLM6l8XcBd43UtZIrAoUCmAJVIwA3lzHSqAFkA6UbYK3V1NPACPzS+OLGQ4qs80bDPR7iJZC5ZUCtigFMLo4ICwYgEAQU8CIAO5wAbnwfyM7v0SMjvYa9CMgB9nanogAychXQTAZYKzla7wLO2koCWc8gw2LlHqpQBt79KKm3Z3jSMOu8/sXMOT5Tff+KySCiVGYZTFvOcU53ScnOnCKmgFiq9rSiZUSqSKC1vPpfeJpWnhe+4LB1FVvLder70FsvR5JWtB2x6h0PQii9q6QqvZOw7a3t6q/nqvxqsGrBqwKoBqwasGrBqwG/y838CDAAhaTFrgN7Y/AAAAABJRU5ErkJggg=="],
                                    "overview": ["<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>"]
                },
                "features": [
                                { 
                                    "guid": "fb053600-55c4-44f5-a8b3-5bba49cd744e", 
                                    "status": "active",
                                    "type": "email",
                                    "dateCreated": 1431588596095, 
                                    "lastUpdated": 1431588596095,
                                    "sendTo": "Bob@Imposter.co.uk"
                                }
                ]
            }
        ]
                

## Bundles [/secure/bundles/{guid}]
A single Bundle object with all its details

+ Parameters
    + guid (required, alpha numeric, `b872d23c-23ef-4816-b631-cb5e05407e1d`) ... Alpha Numeric `guid` of the Bundles to perform action with. Has example value.

### Update a Bundle [PUT]
+ Request (application/json)

        { 
            "name": "Charles River",
            "status": "active"
        }

+ Response 201 (application/json)

        { 
            "guid": "b872d23c-23ef-4816-b631-cb5e05407e1d", 
            "name": "Charles River",
            "status": "active",
            "dateCreated": 1431588596095, 
            "lastUpdated": 1431588596095
        }

### Retrieve a Bundle [GET]
+ Response 200 (application/json)

    + Body

            {
                "guid": "b872d23c-23ef-4816-b631-cb5e05407e1d",
                "name": "Charles River",
                "status": "active",
                "dateCreated": 1431588596095, 
                "lastUpdated": 1431588596095,
                "repositoryData": {
                                    "logo": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoxM2UyMGMyMS05ZmM3LTZkNDUtOWQ1MS1mODQxNDM5YjM3YTIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTFBQzJFRThFQ0I4MTFFM0ExRThBQjQ2NzNDQUFDNTQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTFBQzJFRTdFQ0I4MTFFM0ExRThBQjQ2NzNDQUFDNTQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlhZjVmNWU4LWFiOTUtZGE0ZC04YjlhLWI5ZTE2ODg1NzVkNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxM2UyMGMyMS05ZmM3LTZkNDUtOWQ1MS1mODQxNDM5YjM3YTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7nImKUAAAOF0lEQVR42uxaaWxc13W+975tZt4snCGHGlJcxKEoUtRG2ZK1UKtlW0rs2K2bOi2sJC6cwG0WoGmBokkQdAPaFChatH/q+EfTpLWRoIVRm3Icu7bkWNbiaKEpUSTFfedwyNmXt7/bc9+MNoeRHRWZwAAHg8f33ry7nHu+853v3EfMffUE+iR/eAvhT7QBBH3CP6sGrBqwasCqAasGrBqwasBvVAvd7UeMEcFlrWRT9mUmO3dshCj91YYq9UZt1rYSBnAYmRQVdaTbiCPIzSORQ5aNNBNRjARSdt7HtAJshraqzbqF3vCvG0I8RoaNsiqnmgGKRJh0VkOaxX5STZR3zvGvuPy6gXIaa/5rhxA42rRR0WgNyw91htvrfLGM+tbVeO90VvaLuzrDMk8uLRTmCjqz8/aloLf5BN+5/rrZEfFuq5GHkur1lKICGskNPwAUbzVx8FkC58fzLYceeHoFrySU9lr5W7/V8dxDrfs3hQ92hhtrPH0jCdG0v/XbHU91Nw3OZa8PLiGeMFzBmAAPQBocaSlIHAeaziUcTQvW/tkHo3/26AYb46vTmTy4FGzQrfIzxAkPuGOYrB9mHmZgo/cAIbihs+V/aFPt8X1NEG8vX5hfSKmP31f30Oawn0cNfqmz3hdwcUgzOBjeouxr2C6E3JiwOWkWzJ+zKW+DVZYIXUIsFfS1QXd0jbch6IbwQYoBPpEJhlasieX0o1m8Rb0chiN7ADon9wAh8CCMx3O1IRdP8HvXE//409Hj3U1fP9ICMyAYpwq6atobG/y/8/D6gmG/N5JUFHPz+uCBaFAAaE0kz4+ksGLu3Vi9xidmCsbaGm8ip/W8PZ7MaNB9TreKmul18bs3VD8QDSq6fWo40T+TNg2zqVY+1F7dWusdW8yfGlyaSavMk+AH+x5YiGBFsx0cUsOmuIRMIBKKNZN6ePJMd9OzB1quTGfS8d4UQX/35Mb9rUEwbHA+908nrp86O/vc4ZZdzVWKbtX6pUTRGBhcsiHuGUYsxaCf29v4tSPRpqBbEsjJ64lvvtS3nNW/+uC6p/c0hjxCIm/8+MLsP78xNrOsIL9092ggK1MeLUcXDOD3iHCVUU1YbxY0BGywYxmNYNq11tcWlndFqz61KZzTzfPjqf0bqr+wp5G37Ijf1Rxy54qGYdptNZ6WsNeiLFqLiunxCMf3Nm5vDPT0xsYXC49vXbMjWr0tGjy+pxFW68V3Jwm1v3xo3X3NAUAyQ9c9Z2IYUXbxhm69din23deG374WB/oP+cR4Xv/e6amfXI0DooBZZbcAoHtrYPmHZ6egleQSiItbTCu6Sf/qf4beHFhiOId4cNxoWjQgEJHgkVjh+ZPjPb0LBdWS3bxPlgSBOze0/C89Iz8bWBY5zi+7nMRH787X/F0NQH6XYJvWmxfn3jyLIIVt2xx2uwXLpoRgcAUwoYlJ73yupz8G4In43dAqCxAB1xEC6y1CRDojUJbFqYNNbFi2ptsQYJEqd7VfgruqbkOcpPL6pubA3i21Ywml5/LCXFpBEs9s+P9oIWY/hJHk0KXACNKmlOewz825BEx4bHP4/GDiH3qGU0X98MYahhKb8Tp1kFjlk3wSX8pjt09Et2yvmz/QUbOxzueWOCCm8fncz8eSnY2BZ45Er8xl/+SHfRdHk8gn3MTzvWkhoDLG0z6/KyCLS0tFduUoIjgpfalurZHFZ/as+91d9W6RGLbt/F6eLSz2QloDPslrDhXc+BQNO+wTv7ivKaeYg7Fc0bJn5rPP/3S0I+Lb3VL1xd0NAyPJ2XgB1bjRRyV8/u76paCahOM+vWPtwY01r5ydnV/Mq6qJnanA0dRt8MixnXVfPtw0Gsu/N7z89L5m8E950SCbIfqDd6fOjaQGY9lP7ahjjmBCikED7Hzl/blT1xaLBr2WVXk3f+ZK/O9fHf7b39/86H11Csbf+M8PZuNFFPSwdbo3CAFicqrFC+Sx7ZE/OtB8bGM1Z1lFZsAtEzlHTcB8T48kXu2LYYIFDt/0uW3jM5cXvv/acDZZ5CRyUze4eC6tGq9cmDk3tFTUjaJiNLWEPnO4OVHQ/u30VFYzu6NV25uqkEFZOrt3FkIwHwhdM5HXAAJZxaRMwtzhU1DHlsVQ4/MKIZ+E6IcQi4nfhSIemDK9Q9rhdF53BVx/8YWu1/98/xNb1twfll98bud3Ht9weTB++uqi2yXwolDy2N1BRFacOGLahCGFWpSYNk+Z3zHG+JeaChmKGsZKw8EKWivUBYTDhmEVCjq41DBsxaYZ3TI1izOs0irYlH4cQcejD80Ks1wFvsuqBix5x1rfs4dadrcGYZVTOY0RKLphCy6fQXiCoOturY54JUasNrvJkXKcOAKTnZdcB0eYYUYxZZHf31bTHvHp4FvDBHmXA92xxntkZ0NTxJeHDKiYDHAEIYzvaoCm/4JCJSBSf3Jpbndb8Mkd9R2RJliHk9fiPZdmVcMiElY1Q1N1VTcVwyzoGjDJckGP+ATdlOJpJa9Dh3ZO0eAxQ9cQ1ZDBQTQooCtMiCi0uJT7j9NTbbXyHx9thdFeu7J4ZjAeT6snLtf84YMtf/poW0YzXjg1cWEkzlaIOcS8K9Mc++4K7ANGq3ok6NrXUd9eH5xN5d7pn5may7l94oYGv8gRyDI+twDK8vpcVtGsnW21Pknon0/U+l1Fzbg+k4/Wy+CQgcVCIm+y3mxU4+WbZTKTKcaTUNYY61tCezc3ZIrG+YG5xcU8uMYflne2hltCvrF45tJEIgvlGySfj8IRRoe/ufJ9Bg6bNy0QxgASE4iPZwHDAUKgPHbKFzhYBAQH5kwIEngaY0oYfKHetDGx2B0bUAXyOF88fHDrro61HomXRC6TV19+5+pw77gou5949P5NrXUnfz565oMx4AMemtjY5LgbOZjeiNVyJf6heUIM/FIiAsFgCMDlZTop/bXIrYLLLuVbqGcgnWD79q5sQA0m5XHhmCk8vHXd5z99fyTk5TkONOljh7Z95RsvTMWSn9236bNHungbX+ody1m27vY4BU1pqowIWSRYFps8yBJyg/sY/AmUEBxqOfARtSzGd4QRvi054jtR94tQvKltM8qhfZ3H9nSc65/+8ckrtUHv1nW1Y9NLZ4fmcjYdW86+0zc+PLZAl1IsbckSJCC0mGJlp8ijRA4lsghCK5tD4Bm3gOIZlMxDn6io8RXbwAFa5DgyOr300huXNzbVdjSFvX7Z5hgEi4qSyRW6d7Q9sW/T8OziS//b29m17vHuzot9kyfeu7a/u+Nrv3fQzZNX3732769fFGzr+OcPt9UHr0zEd7Q3VM6AMp45gBotCSpV00WCDm5pPtbdOT+bAkc/9XBX39DM2XMjR7ZEv/TEXjWvprLKt//gkf3bo+mssilaD+r4Byfef2R3xyM71icLWsjrqujOHKAspxjJbMF2QIyhxtGtkM/TvKZK4kg6W8QUh6t84aC/LuSHcC9qentLePeW5p/1Tfxrz/s1Ac/+rvWyJILcgkD6r7f73u+fJhVcfaqb1pZ1ka88ubeloebC8MKZvkko2DieEI4YurGUzGTyikeWIg2hqpCcz6vxRJ7neEkSRmeWz/VP5RUNqhFI4VAVFTTjrd7Rodl4RSFUUPUDXeu6tzUXdPM733vj/IURwibEOXkdL2eK6UKxcU2wpbE6VCVncsWlRNbrcTQgMKtlw1NMd9ESL1ALlemqYvjBUCjOxrNXxxZM3Ty6b2N7tBZmZBkWBLdASCarLCbzkiS21tcE/fJSTl2CJGkaMN2jD2z4yy8dDVd5/T4PJBswA25C/NSHAxU0gCKPSzhzZfJvvv/28HT86P3rd9/XwmoG06CYGaAqWiyVB4S0N4eDAfd8IrecUzBh5UU46NUU7UevX/zvU32YA53KOxsu5PzADF9JBgIn5FSlfzy2nC5CXS9D2Q406pTLPM9pmrm4lIUVjdaHIMZjiUymqHldErS9NDT718+/nkpmFaaTiSgJEDgQxy++fLaiLMSKfZH3yxIMzy4x2xoopVxmgGrEEpDWULhKhhWOJ3J5RZWcknoilllWjM8c3npoe9S2bNO0MEQ+JnOjsQqyUPl9AhaABTlc2qGgLCWwDyGEGuZiKq/oJjOPggeylm663SLbz1O0SKTq68cPPXWkC1NbVXQnM4LaE0jFpi+ACsCI5wiQaUmSuTiOYZmCqCHgGagk0ql8UWE7kKZtZ9IFpBgeD9s+DXqlxrA/HPCGAi5qW+AuYC7wASCQrwT22Zd63KKz0eKGWkW3WJFWE/TKHgloHuIB6B8YKZfK604JDz8DgJCij80mMkX1sb0dW9bXQz11vn9KU/SakOwSeVkUmQKukAdkcXB2+cLA7LXJeKqgvts/2VxfzTblJPHazPKpK5OjIN3c4mK2eKp3Aki2byw2my4il/jmuaGWSOBzD28Hy3/01gcv9FzMW/SDyZhh2gvJDJTaGD347UoEr2VFQr7mgDeRVybT+bDPHa0JzKcLM6l8XcBd43UtZIrAoUCmAJVIwA3lzHSqAFkA6UbYK3V1NPACPzS+OLGQ4qs80bDPR7iJZC5ZUCtigFMLo4ICwYgEAQU8CIAO5wAbnwfyM7v0SMjvYa9CMgB9nanogAychXQTAZYKzla7wLO2koCWc8gw2LlHqpQBt79KKm3Z3jSMOu8/sXMOT5Tff+KySCiVGYZTFvOcU53ScnOnCKmgFiq9rSiZUSqSKC1vPpfeJpWnhe+4LB1FVvLder70FsvR5JWtB2x6h0PQii9q6QqvZOw7a3t6q/nqvxqsGrBqwKoBqwasGrBqwG/y838CDAAhaTFrgN7Y/AAAAABJRU5ErkJggg=="],
                                    "overview": ["<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>"]
                },
                "features": [
                                { 
                                    "guid": "fb053600-55c4-44f5-a8b3-5bba49cd744e", 
                                    "status": "active",
                                    "type": "email",
                                    "dateCreated": 1431588596095, 
                                    "lastUpdated": 1431588596095,
                                    "sendTo": "Bob@Imposter.co.uk"
                                },
                                { 
                                    "guid": "558f7e5d-4c1b-4eb7-8166-f134f9ae07ac", 
                                    "status": "active",
                                    "type": "veiw",
                                    "dateCreated": 1431588596095, 
                                    "lastUpdated": 1431588596095,
                                    "uri": "http://charles-river.co.uk"
                                }
                ]
            }

## Bundle Features [/secure/bundles/{guid}/features]
### Add a Feature to a bundle [POST]

+ Request (application/json)

        { 
            "featureGuid": "558f7e5d-4c1b-4eb7-8166-f134f9ae07ac" 
        }

+ Response 201 (application/json)

        { 
            "bundleFeatureGuid": "803cec6c-5a55-482b-92d3-d91f4979f4eb",
            "bundleGuid": "b872d23c-23ef-4816-b631-cb5e05407e1d", 
            "featureGuid": "558f7e5d-4c1b-4eb7-8166-f134f9ae07ac", 
            "status": "inactive",
            "dateCreated": 1431588596095, 
            "lastUpdated": 1431588596095
        }   

## Bundle Features [/secure/bundles/{bundleGuid}/features/{featureGuid}]
### Remove a Feature from a bundle [DELETE]

**Warning:** This action **permanently** removes the link to the feature on the bundle from the database.

+ Response 204

# Group Features
Features are related resources of the **Bundles CRUD API**

## Features [/secure/features]
### Create a new Feature [POST]

+ Request (application/json)

        { 
            "type": "email",
            "sendTo": "Bob@Imposter.com" 
        }

+ Response 201 (application/json)

        { 
            "guid": "fb053600-55c4-44f5-a8b3-5bba49cd744e",
            "type": "email", 
            "status": "inactive",
            "dateCreated": 1431588596095, 
            "lastUpdated": 1431588596095,
            "sendTo": "Bob@Imposter.com"
        }

## Features [/secure/features/{guid}]
A single feature object

+ Parameters
    + guid (required, alpha numeric, `fb053600-55c4-44f5-a8b3-5bba49cd744e`) ... Alpha Numeric `guid` of the Feature to perform action with. Has example value.

### Retrieve a Feature [GET]
+ Response 200 (application/json)

    + Body

            { 
                "guid": "fb053600-55c4-44f5-a8b3-5bba49cd744e", 
                "status": "inactive",
                "type": "email",
                "dateCreated": 1431588596095, 
                "lastUpdated": 1431588596095,
                "sendTo": "Bob@Imposter.com"
            }
            
### Update a Feature [PUT]

You cannot update the type of a Feature, only status and the specific feature configuration.

+ Request (application/json)

        { 
            "status": "active",
            "sendTo": "Bob@Imposter.co.uk"
        }

+ Response 201 (application/json)

        { 
            "guid": "fb053600-55c4-44f5-a8b3-5bba49cd744e", 
            "status": "active",
            "type": "email",
            "dateCreated": 1431588596095, 
            "lastUpdated": 1431588596095,
            "sendTo": "Bob@Imposter.co.uk"
        }         